
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("LeftMenu", "Home")
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Đổi mật khẩu</li>
    </ul>
    
    <hr class="soft" />
    <div class="well">
        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <h3 style="text-align:center">Đổi mật khẩu</h3>
            @ViewData["ThongBao3"]
            <div class="control-group">
                <label class="control-label" for="username">Tài khoản<sup>*</sup></label>
                <div class="controls">
                    <input type="text" id="Username" name="Username" placeholder="Tài khoản">
                    @ViewData["ThongBao1"]
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Mật khẩu hiện tại<sup>*</sup></label>
                <div class="controls">
                    <input type="password" id="Password" name="Password" placeholder="Mật khẩu hiện tại">
                    @ViewData["ThongBao2"]
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Mật khẩu<sup>*</sup></label>
                <div class="controls">
                    <input type="password" id="NewPassword" name="NewPassword" placeholder="Mật khẩu">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Đăng ký" class="exclusive shopBtn">
                </div>
            </div>
        }
    </div>
</div>

